@charset "UTF-8";
/* CSS Document */
body{
		 background-image: url('../images/yellow.jpg');
		 background-color: rgba(255,184,0,1.00);
		 background-size: 100% 100%;
	 }

table#game_board{
	margin:auto;
	border-style:solid;
	border-width:10px;
	border-color:rgba(27,12,0,1.00);
}

table#game_board td{
	padding:5px;
	border-style:solid;
	border-width:1px;
	border-color:rgba(145,145,145,1.00);
}

#messages p{
	margin:0px;
}

/*
.hovered_over:hover {
    background-image: url('assets/images/hover.gif'); background-color: yellow; background-size: 100% 100%;
}
*/

td.hovered_over:hover {
    background-image: url('../images/hover.gif'); 
	background-color: rgba(254,240,128,1.00);
	background-size: 100% 100%;
}