@charset "UTF-8";
/* CSS Document */

font-family: 'Oswald', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Poiret One', cursive;

body{
		 
		background-color: rgba(255,255,255,1.00);
		 background-size: 100% 100%;
	 }



table#game_board{
	margin:auto;
	border-style:groove;
	background-color: antiquewhite;
	border-width:4px;
	border-color:rgba(255,255,255,1.00);
}

table#game_board td{
	padding:5px;
	border-style:groove;
	background-color: antiquewhite;
	border-width:4px;
	border-color:rgba(255,255,255,1.00);
}

#my_color h3{
	font-family: 'Oswald', sans-serif;
 	font-size: 46px;
    font-weight: normal;
    color: black;
	padding-top: 20px;
	margin:0px;
}

#send_message_holder label{
  font-family: 'Poiret One', cursive;
  font-size: 32px;
  font-weight: normal;
  color: black;
	padding-top: 20px;
	margin:0px;
}

#messages p{
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  font-weight: bold;
  color: black;
	padding-top: 20px;
	margin:0px;
}

/*
.hovered_over:hover {
    background-image: url('assets/images/hover.gif'); background-color: yellow; background-size: 100% 100%;
}
*/

h3{
	padding-top:20px;
	padding-bottom: 10px;
	 font-family: 'Poiret One', cursive;
  	font-size: 24px;
  	font-weight: bold;
  	color: black;

}
td.hovered_over:hover {
    background-image: url('../images/hover.gif'); 
	background-color: rgba(255,0,203,1.00);
	background-size: 100% 100%;
}